//Flexbox partial for the layout of the website
//single column article, horizontal navigation, header, and footer

.flexbox {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

body {
  @extend .flexbox;
  background: rgb(36,66,85);
  background: linear-gradient(0deg, rgba(36,66,85,1) 0%, rgba(156,162,63,1) 50%, rgba(36,66,85,1) 100%);
}

header {
  @extend .flexbox;
  position: fixed;
  top: 0;
  width: $nine;
  padding: $no-padding;
  margin-bottom: 100px;
  background: $dark-blue;
}

.fourth {
  width: 20%;
  align-items: center;
  justify-content: center;
  padding: 2%; /* 32:18, i.e. 16:9 */
  margin-bottom: 2%; /* (100-32*3)/2 */
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: $light-green;
}

li {
  list-style-type: none;
  padding: $container-padding;
}

article {
  @extend .flexbox;
  width: $seven-five;
  padding: $no-padding;
  margin-top: 185px;
  background: none;
}

footer {
  @extend .flexbox;
  width: $nine;
  padding: $container-padding;
  height: 10vh;
  background: $dark-blue;
}

img {
  width: 100%;
}
